# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Ignore everything in the venv folder
venv/*

# But do NOT ignore the Python converter
!venv/converter.py
!venv/geoJSONconverter.py
